In [1]:
#pandas基本知识

In [2]:
#单列数据Series

In [3]:
#图18.1

In [4]:
import numpy as np
#导入pandas并依惯例将其重命名为pd 
import pandas as pd 
#np.arange(5)*10+1对数组中每一个元素均乘以10再加1
s=pd.Series(np.arange(5)*10+1)
s

0     1
1    11
2    21
3    31
4    41
dtype: int32

In [5]:
#图18.2

In [6]:
 #指定index，创建索引序列
s=pd.Series(np.arange(5)*10+1,index=['a','b','c','d','e'])
s

a     1
b    11
c    21
d    31
e    41
dtype: int32

In [7]:
#图18.3

In [8]:
s['a']

1

In [9]:
#图18.4

In [10]:
s[['d','c','b']]

d    31
c    21
b    11
dtype: int32

In [11]:
#图18.5

In [12]:
np.random.seed(0)
#size=(10,4)表示生成数组的形状，10行4列
df=pd.DataFrame(np.random.randint(50,101,size=(10,4)))
df

    0    1   2   3
0  94   97  50  53
1  53   89  59  69
2  71  100  86  73
3  56   74  74  62
4  51   88  89  73
5  96   74  67  87
6  75   63  58  59
7  70   66  55  65
8  97   50  68  85
9  74   99  79  69

In [13]:
#图18.6

In [14]:
#columns指定列索引
df.columns=['高数','线代','统计','英语']
df

   高数   线代  统计  英语
0  94   97  50  53
1  53   89  59  69
2  71  100  86  73
3  56   74  74  62
4  51   88  89  73
5  96   74  67  87
6  75   63  58  59
7  70   66  55  65
8  97   50  68  85
9  74   99  79  69

In [15]:
#图18.7

In [16]:
#index指定行索引
df.index=map(str,range(202001001,202001011))
df

           高数   线代  统计  英语
202001001  94   97  50  53
202001002  53   89  59  69
202001003  71  100  86  73
202001004  56   74  74  62
202001005  51   88  89  73
202001006  96   74  67  87
202001007  75   63  58  59
202001008  70   66  55  65
202001009  97   50  68  85
202001010  74   99  79  69

In [17]:
#图18.8

In [18]:
df.T

,202001001,202001002,202001003,202001004,202001005,202001006,202001007,202001008,202001009,202001010
高数,94,53,71,56,51,96,75,70,97,74
线代,97,89,100,74,88,74,63,66,50,99
统计,50,59,86,74,89,67,58,55,68,79
英语,53,69,73,62,73,87,59,65,85,69

In [19]:
#图18.9

In [20]:
#返回头部的行，默认5行
df.head()

           高数   线代  统计  英语
202001001  94   97  50  53
202001002  53   89  59  69
202001003  71  100  86  73
202001004  56   74  74  62
202001005  51   88  89  73

In [21]:
#图18.10

In [22]:
#返回尾部2行
df.tail(2)

           高数  线代  统计  英语
202001009  97  50  68  85
202001010  74  99  79  69

In [23]:
#选择数据

In [24]:
#图18.11

In [25]:
#按列名取一列
df['高数']

202001001    94
202001002    53
202001003    71
202001004    56
202001005    51
202001006    96
202001007    75
202001008    70
202001009    97
202001010    74
Name: 高数, dtype: int32

In [26]:
#图18.12

In [27]:
#按列名取多列
df[['统计','高数']]

           统计  高数
202001001  50  94
202001002  59  53
202001003  86  71
202001004  74  56
202001005  89  51
202001006  67  96
202001007  58  75
202001008  55  70
202001009  68  97
202001010  79  74

In [28]:
#图18.13

In [29]:
#按行名取一行
df.loc['202001005']

高数    51
线代    88
统计    89
英语    73
Name: 202001005, dtype: int32

In [30]:
#图18.14

In [31]:
#按行名取多行
df.loc[['202001005','202001008']]

           高数  线代  统计  英语
202001005  51  88  89  73
202001008  70  66  55  65

In [32]:
#图18.15

In [33]:
#按行名和列名取行列交叉位置元素
df.loc[['202001004','202001007'], ['线代', '统计']]

           线代  统计
202001004  74  74
202001007  63  58

In [34]:
#图18.16

In [35]:
#按行列号索引
df.iloc[0,0] #0行0列位置

94

In [36]:
df.iloc[[0,2],[1,2]]

            线代  统计
202001001   97  50
202001003  100  86

In [37]:
#图18.17

In [38]:
#前3行与前2列
df.iloc[:3,0:2] #注意不包含结束点

           高数   线代
202001001  94   97
202001002  53   89
202001003  71  100

In [39]:
#图18.18

In [40]:
#连续的多行
df[0:2]  #前2行，不包含结束点

           高数  线代  统计  英语
202001001  94  97  50  53
202001002  53  89  59  69

In [41]:
#图18.19

In [42]:
#把所有小于60的数据修改为60
df_copy=df.copy()  #复制数据
df_copy[df_copy<60]=60
df_copy

           高数   线代  统计  英语
202001001  94   97  60  60
202001002  60   89  60  69
202001003  71  100  86  73
202001004  60   74  74  62
202001005  60   88  89  73
202001006  96   74  67  87
202001007  75   63  60  60
202001008  70   66  60  65
202001009  97   60  68  85
202001010  74   99  79  69

In [43]:
#图18.20

In [44]:
#添加列
df_copy['政治']=range(70,80)
df_copy

           高数   线代  统计  英语  政治
202001001  94   97  60  60  70
202001002  60   89  60  69  71
202001003  71  100  86  73  72
202001004  60   74  74  62  73
202001005  60   88  89  73  74
202001006  96   74  67  87  75
202001007  75   63  60  60  76
202001008  70   66  60  65  77
202001009  97   60  68  85  78
202001010  74   99  79  69  79

In [45]:
#图18.21

In [46]:
#添加行
df_copy.loc['202001011']=range(70,80,2)
df_copy

           高数   线代  统计  英语  政治
202001001  94   97  60  60  70
202001002  60   89  60  69  71
202001003  71  100  86  73  72
202001004  60   74  74  62  73
202001005  60   88  89  73  74
202001006  96   74  67  87  75
202001007  75   63  60  60  76
202001008  70   66  60  65  77
202001009  97   60  68  85  78
202001010  74   99  79  69  79
202001011  70   72  74  76  78

In [47]:
#数据统计

In [48]:
#图18.22

In [49]:
#求每一列的均值
df.mean()

高数    73.7
线代    80.0
统计    68.5
英语    69.5
dtype: float64

In [50]:
#图18.23

In [51]:
#求每一行的均值
df.mean(axis=1)

202001001    73.50
202001002    67.50
202001003    82.50
202001004    66.50
202001005    75.25
202001006    81.00
202001007    63.75
202001008    64.00
202001009    75.00
202001010    80.25
dtype: float64

In [52]:
#图18.24

In [53]:
#求每一列的标准差
df.std()

高数    17.423165
线代    17.165858
统计    13.310397
英语    10.700467
dtype: float64

In [54]:
#图18.25

In [55]:
df.describe()

              高数          线代         统计         英语
count  10.000000   10.000000  10.000000  10.000000
mean   73.700000   80.000000  68.500000  69.500000
std    17.423165   17.165858  13.310397  10.700467
min    51.000000   50.000000  50.000000  53.000000
25%    59.500000   68.000000  58.250000  62.750000
50%    72.500000   81.000000  67.500000  69.000000
75%    89.250000   95.000000  77.750000  73.000000
max    97.000000  100.000000  89.000000  87.000000

In [56]:
#图18.26

In [57]:
#求极差
df.apply(lambda x:max(x)-min(x))

高数    46
线代    50
统计    39
英语    34
dtype: int64

In [58]:
#图18.27

In [59]:
#高数不同分数出现的次数
df['高数'].value_counts()

94    1
75    1
74    1
56    1
71    1
70    1
53    1
51    1
97    1
96    1
Name: 高数, dtype: int64